@import "mixin.scss";
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  overflow: visible;
}



.container{
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
  .block-table{
    display: inline-block;
    padding: 50px;
    .wrapper-table {
      position: relative;
      padding: 2px;
      .button-plus{
        position: absolute;
        z-index: 2;
        background: rgba(243, 165, 0, 1);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
      }
      .button-plus,.button-minus{
        width: 50px;
        height: 50px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #fff;
      }
      .button-plus:hover{
        background: rgba(243, 165, 0, 0.65);
       // @include transition( all ease 3.3s);
      }
      .button-plus:focus{
        @include box-shadow( 0 0 2px 3px rgba(72,170,230,0.72));
      }
      .button-plus_right{
        top: 5px;
        right: -50px;
      }
      .button-plus_bottom{
        bottom: -50px;
        left: 5px;
      }
      .button-minus:hover{
         background:rgba( 178, 0, 0,0.7);
          @include transition( all ease .3s);
      //  display: block;
      //  -webkit-animation: fadeInFromNone 0.5s ease-out;
      //  -moz-animation: fadeInFromNone 0.5s ease-out;
      //  -o-animation: fadeInFromNone 0.5s ease-out;
      //  animation: fadeInFromNone 0.5s ease-out;
      //  //@include transition( all ease .3s);
      }
      .button-minus:active{
        @include box-shadow( 0 0 2px 3px rgba(72,170,230,0.72));
      }
      .button-minus{
        display: none;
        @include justify-content(center);
        position: absolute;
        z-index: 2;
        background: rgba(178, 0, 0, 1);
        font-weight: 400;
        font-size: 37px;
        //@include opacity(0);
        // @include transition( opacity ease .3s);
        span{
          height: 50px;
        }
      }
      .button-minus_top{
        top: -50px;
        left: 5px;
      }
      .button-minus_left{
        top: 5px;
        left: -50px;
      }
      //.button-minus_animation-display{
      //  @include flexbox;
      //  opacity: 0;
      //}

      .button-minus_animation-opacity{
        //-webkit-animation: fadeInFromNone 0.5s ease-out;
        //-moz-animation: fadeInFromNone 0.5s ease-out;
        //-o-animation: fadeInFromNone 0.5s ease-out;
        //animation: fadeInFromNone 0.5s ease-out;
        @include flexbox;
        @include animation( fadeInFromNone 2.5s ease-out);
        //-o-animation-fill-mode: both;
        //-webkit-animation-fill-mode: both;
        //-moz-animation-fill-mode: both;
        //animation-fill-mode: both;
        //transition: left ease 1s;
        //transition: all ease 0.3s;
        //animation: show 5s ease-out 1;
        //@include opacity(0);
        //@include transition( opacity ease .3s);
      }
      .button-minus_animation-opacity2{
        @include animation( fadeInFromNone2 2.5s ease-out);
        opacity: 0;
        //@include animation( fadeInFromNone2 5.5s ease-out reverse);
        //-o-animation-fill-mode: both;
        //-webkit-animation-fill-mode: both;
        //-moz-animation-fill-mode: both;
        //animation-fill-mode: both;
        //@include opacity(1);
      }
      //.button-minus_animation-opacity{
      //    display: block;
      //
      //        -webkit-animation: fadeInFromNone 0.5s ease-out;
      //        -moz-animation: fadeInFromNone 0.5s ease-out;
      //        -o-animation: fadeInFromNone 0.5s ease-out;
      //        animation: fadeInFromNone 0.5s ease-out;
      //}
      .table {
        border: 1px solid #48aae6;
        border-spacing: 2px;
        border-collapse: separate;
        min-width: 56px;
        height: 56px;
        tbody {
          tr {
            td {
              min-width: 50px;
              width: 50px;
              height: 50px;
              background: #48aae6;
            }
          }
        }
      }
    }
  }
}

@-ms-keyframes fadeInFromNone2 {
  0% {
    //@include flexbox;
    opacity: 1;
  }

  99% {
    //@include flexbox;
    opacity: 0;
  }
  //100%{
  //  display: none;
  //}
}

@-webkit-keyframes fadeInFromNone2 {
  0% {
   // @include flexbox;
    opacity: 1;
  }
  100% {
   // @include flexbox;
    opacity: 0;
  }
  //100%{
  //  display: none;
  //  opacity: 0;
  //}
}

@-moz-keyframes fadeInFromNone2 {
  0% {
    //@include flexbox;
    opacity: 1;
  }
  100% {
    //@include flexbox;
    opacity: 0;
  }
  //100%{
  //  display: none;
  //  opacity: 0;
  //}
}

@-o-keyframes fadeInFromNone2 {
  0% {
    //@include flexbox;
    opacity: 1;
  }
  100%  {
   // @include flexbox;
    opacity: 0;
  }
  //100%{
  //  display: none;
  //  opacity: 0;
  //}
}

@keyframes fadeInFromNone2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  //100%{
  //  display: none;
  //  opacity: 0;
  //}
}





@-ms-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

