body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  overflow: visible;
}

.container {
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
}
.container .block-table {
  display: inline-block;
  padding: 50px;
}
.container .block-table .wrapper-table {
  position: relative;
  padding: 2px;
}
.container .block-table .wrapper-table .button-plus {
  position: absolute;
  z-index: 2;
  background: #f3a500;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
}
.container .block-table .wrapper-table .button-plus, .container .block-table .wrapper-table .button-minus {
  width: 50px;
  height: 50px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #fff;
}
.container .block-table .wrapper-table .button-plus:hover {
  background: rgba(243, 165, 0, 0.65);
}
.container .block-table .wrapper-table .button-plus:focus {
  -webkit-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  -moz-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  -ms-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  -o-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  box-shadow: 0 0 2px 3px rgba(72, 170, 230, 0.72);
}
.container .block-table .wrapper-table .button-plus_right {
  top: 5px;
  right: -50px;
}
.container .block-table .wrapper-table .button-plus_bottom {
  bottom: -50px;
  left: 5px;
}
.container .block-table .wrapper-table .button-minus:hover {
  background: rgba(178, 0, 0, 0.7);
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.container .block-table .wrapper-table .button-minus:active {
  -webkit-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  -moz-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  -ms-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  -o-animation: 0 0 2px 3px rgba(72, 170, 230, 0.72);
  box-shadow: 0 0 2px 3px rgba(72, 170, 230, 0.72);
}
.container .block-table .wrapper-table .button-minus {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background: #b20000;
  font-weight: 400;
  font-size: 37px;
}
.container .block-table .wrapper-table .button-minus span {
  height: 50px;
}
.container .block-table .wrapper-table .button-minus_top {
  top: -50px;
  left: 5px;
}
.container .block-table .wrapper-table .button-minus_left {
  top: 5px;
  left: -50px;
}
.container .block-table .wrapper-table .button-minus_animation-opacity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeInFromNone 2.5s ease-out;
  -moz-animation: fadeInFromNone 2.5s ease-out;
  -ms-animation: fadeInFromNone 2.5s ease-out;
  -o-animation: fadeInFromNone 2.5s ease-out;
  animation: fadeInFromNone 2.5s ease-out;
}
.container .block-table .wrapper-table .button-minus_animation-opacity2 {
  -webkit-animation: fadeInFromNone2 2.5s ease-out;
  -moz-animation: fadeInFromNone2 2.5s ease-out;
  -ms-animation: fadeInFromNone2 2.5s ease-out;
  -o-animation: fadeInFromNone2 2.5s ease-out;
  animation: fadeInFromNone2 2.5s ease-out;
  opacity: 0;
}
.container .block-table .wrapper-table .table {
  border: 1px solid #48aae6;
  border-spacing: 2px;
  border-collapse: separate;
  min-width: 56px;
  height: 56px;
}
.container .block-table .wrapper-table .table tbody tr td {
  min-width: 50px;
  width: 50px;
  height: 50px;
  background: #48aae6;
}

@-ms-keyframes fadeInFromNone2 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInFromNone2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInFromNone2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeInFromNone2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInFromNone2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
